.body {
    margin: 0;
    background-image: url('images/Home Menu.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-box {
    padding: 20px;
    background-color: rgba(155, 76, 76, 0.7);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
