/* THE NAVIGATION BAR */

body {
    background-image: url('_DSC8998.jpg');
    background-size: cover;
    color: aliceblue;
    font-family: Ubuntu;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
}

nav{
    display: flex;
    justify-content: space-between;
    font-family: Ubuntu;
    font-weight: 900;
    font-style: italic;
    margin-top: 20px;
}

nav, #nav-items, a{
    color: aliceblue;
    margin-right: 20px;

}

nav, #logo{
    margin-left: 20px;
}

#nav a:hover {
    filter: brightness(80%);
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    margin-top: 150px;
}

#title h1 {
    font-size: 50px;
}

#button button {
    font-family: 'Ubuntu', sans-serif; 
    font-size: 24px; 
    padding: 15px 30px; 
    border: 4px, aliceblue ;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#button button:hover {
    background-color: aliceblue;
    color: #333;
}

#title h2 {
    margin-top: 40px;
    font-weight: 100;
    font-size: 20px;
}

.footer {
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aliceblue; 
    padding: 20px; 
}

.footer-container1,
.footer-container2 {
    text-align: center;
}

/*Menu View*/

.header {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    text-align: center;
    color: aliceblue
}

.header h1 {
    font-size: 36px; 
}

.body {
    padding: 20px;
}

.bodyhead {
    font-size: 20px;
}


.body-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.body-container h3 {
    margin: 5px;
}